<html>
  <head>
    <title>Idea Start</title>
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel="stylesheet" href="/stylesheets/toastr.css"/>

    <link rel='stylesheet' type='text/css'  href='http://fonts.googleapis.com/css?family=Poiret+One'>

    <link rel="stylesheet" type="text/css" href="/stylesheets/ng-tags-input.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://app.userapp.io/js/userapp.client.js"></script>
    <script src="https://app.userapp.io/js/angularjs.userapp.js"></script>
    <script src="/javascripts/toastr.js"></script>
    <script src="/javascripts/ng-tags-input.js"></script>
  </head>
  
  <body ng-app="start-idea">
    <div ui-view></div>

    <script type="text/ng-template" id="/landing.html">
      <div class="landing-body">
        <div role="group" aria-label="..." id="landing-nav">
          <a href="#/login"> <button type="button" class="btn btn-primary">Log in</button></a>
          <a href="#/signup"><button type="button" class="btn btn-default">Sign up</button></a>
        </div>
        
        <div id="content">
          <div class="landing-text">
            <h1 id="landing-header">Idea Start</h1>
          </div>
        </div>
      </div>
    </script>
   
    <script type="text/ng-template" id="/home.html">
      <%- include navbar.ejs %>
      <div class="row">
        <%- include posts_index.ejs %>
      </div>
    </script>

    <script type="text/ng-template" id="/posts.html">
      <%- include navbar.ejs %>
      <div class="row">
        <%- include posts_show.ejs %>
      </div>
    </script>   

    <script type="text/ng-template" id="/login.html">
      <%- include navbar.ejs %>
      <div class="row">
        <%- include login.ejs %>
      </div>

    </script>

    <script type="text/ng-template" id="/signup.html">
      <%- include navbar.ejs %>
      <div class="row">
        <%- include signup.ejs %>
      </div>
    </script>

  </body>
</html>